
@*
    @model MVC_Application.Models.Employee 
*@

@using MVC_Application.ViewModels
@model EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        
        @{
            //MVC_Application.Models.Employee emp = (MVC_Application.Models.Employee)ViewBag.EMPLOYEE; View Bag Implementaion
        }
        <a href ="/Employee/AddNew">Add New</a>
        <hr />
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Salary</th>
                </tr>
                @foreach (EmployeeViewModel employee in Model.Employees)
            {
                    <tr>
                        <td>@employee.EmployeeName</td>
                        <td style="background-color:@employee.SalaryColor">@employee.Salary</td>
                    </tr>
                }
            </table>
</div>
</body>
</html>
